.Training {
    // height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(46, 46, 46);
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.training {
    width: 60%;
    padding: 2rem;
}

@media screen and (max-width: 1325px) {
    .training {
        width: 100%;
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .training {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
