.Scraping {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    padding-top: 3rem;
    padding-bottom: 3rem;
    // background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(240,248,255,1) 100%);
}

.scraping {
    width: 60%;
    padding: 2rem;
    padding-bottom: 0rem;
}

@media screen and (max-width: 1325px) {
    .scraping {
        width: 100%;
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .scraping {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
