* {    
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

p, h1, h2, h3, h4 {
  transition-duration: 250ms;
  margin: 5px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 32pt;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18pt;
}

p {
  font-size: 15pt;
  line-height: 22pt;
  margin-top: 10px;
  margin-bottom: 10px
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6d6d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(101, 101, 101);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 64, 64);
}

.App {
  width: 100vw;
  scroll-behavior: smooth;
}