* {    
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  transition-duration: 250ms;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  height: 100vh;
  scroll-behavior: smooth;
}

.app-vertical {
  display: none;
}

@media (max-width: 1500px) {
  .app-horizontal {
    display: none;
  }

  .app-vertical {
    display: initial;
  }
}