.Cleaning {
    height: 100%;
    min-width: 200vw;
    background-color:rgb(246, 243, 240);
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

p {
    font-size: 14pt;
    line-height: 22pt;
}

.cleaning-one {
    height: 100%;
    width: 50%;
}

.cleaning-two {
    height: 100%;
    width: 50%;
}

.cleaning-one-title {
    height: 10%;
    width: 100%;
    margin-left: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.cleaning-one-title h1 {
    font-size: 36pt;
}

.cleaning-one-table {
    width: 80%;
    margin: auto;
}

.cleaning-one-intro {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cleaning-one-text {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list {
    text-align: center;
}