.Data {
    height: 100%;
    min-width: 100vw;
    background-color: aqua;
    display: inline-flex;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.data-left {
    height: 100%;
    width: 50%;
    background-color: crimson;
}

.data-right {
    height: 100%;
    width: 50%;
    background-color: coral;
}

.data-left-title {
    height: 10%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background-color: blue;
}

.data-left-title h1 {
    margin: 0;
    margin-left: 20px;
    font-size: 36pt;

}

@media (max-width: 1500px) {
    .Data {
        height: 200%;
    }

    .data-left {
        height: 50%;
        min-width: 100vw;
    }

    .data-right {
        height: 50%;
        min-width: 100vw;
    }
}