body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition-duration: 250ms;
}

a:hover {
  color: rgb(97, 97, 97);
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
}