.Landing {
    height: 100%;
    min-width: 100vw;
    background-color: aliceblue;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.landing {
    height: 80%;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.landing-left {
    height: 100%;
    width: 50%;
}

.landing-left-photo {
    height: 95%;
    width: 100%;
    background-image: url("./assets/pictures/home4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.landing-left-photo-description {
    height: 5%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.landing-left-photo-description p {
    margin-top: 8px;
}

.landing-right {
    height: 100%;
    width: 50%;
}

.landing-right-title {
    height: 30%;
    width: 100%;
}

.landing-right-title h1 {
    font-size: 6vh;
    margin-left: 40px;
}

.landing-right-description {
    height: 40%;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.landing-right-description p {
    font-size: 16pt;
    margin-left: 40px;
    margin-right: 30%;
}

.landing-right-start {
    height: 30%;
    width: 100%;
}

.landing-right-start p {
    font-size: 24pt;
    margin-left: 40px;
}

@media (max-width: 1500px) {
    .Landing {
        height: 120%;
    }

    .landing {
        height: 100%;
    }

    .landing-left {
        height: 60%;
        min-width: 100vw;
    }

    .landing-left-photo-description {
        justify-content: center;
    }

    .landing-right {
        height: 40%;
        min-width: 100vw;
    }

    .landing-right-title {
        height: 50%;
    }

    .landing-right-description {
        height: 40%;
    }

    .landing-right-start {
        height: 10%;
    }
}

@media (max-width: 1000px) {
    .Landing {
        height: 135%;
    }

    .landing-left {
        height: 50%;
    }

    .landing-right {
        height: 50%;
    }

    .landing-left-photo {
        height: 85%;
    }

    .landing-left-photo-description {
        height: 15%;
        font-size: 10pt;
    }

    .landing-right-title {
        height: 32%;
    }

    .landing-right-title h1 {
        font-size: 32pt;
    }

    .landing-right-description {
        height: 55%;
    }

    .landing-right-description p {
        font-size: 14pt;
        margin-right: 40px;
    }

    .landing-right-start {
        height: 10%;
    }
}
