.Preprocessing {
    min-width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(245, 247, 242);
}

.preprocessing {
    height: 100%;
    width: 80%;
    margin-bottom: 40px;
}

.title {
    width: 100%;
}

.text {
    width: 100%;
}

.table {
    margin-top: 10px;
    margin-bottom: 20px;
}

.small-table {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.list {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

.Image {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
}

img {
    max-width: 50vw;
    max-height: 70vh;
    height: auto;
    width: auto\9; /* ie8 */
}

.html-img {
    max-width: 50vw;
    max-height: 70vh;
    height: auto;
    width: auto\9; /* ie8 */
}

.desc {
    width: 100%;
    margin-top: 2px;
    font-size: 13pt;
    text-align: center;
    color: rgb(61, 61, 61);
}