.Template2 {
    height: 100vh;
    min-width: 100vw;
    background-color: aqua;
    display: inline-flex;
    justify-content: center;
}

.template2 {
    height: 100%;
    width: 90%;
    background-color: blueviolet;
}

.title {
    margin: 40px;
    font-size: 2.4vh;
}