.Visualization {
    min-width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.visualization {
    height: 100%;
    width: 80%;
    margin-bottom: 40px;
}

.title {
    width: 100%;
}

.small-imgs {
    width: 100%;
    height: fit-content;
    display: inline-flex;
}

.small-img {
    width: 50%;
    height: 500px;
    background-color: aqua;
}

.full-imgs {
    width: 100%;
    height: fit-content;
}

.full-img {
    width: 100%;
    height: 500px;
    background-color: rgb(84, 205, 19);
}